@charset "utf-8";
/* CSS Document */
body { 
			font-family: Arial, sans-serif; 
			margin: 0; 
			padding: 0; 
			display: flex; 
			justify-content: center; 
			background-color: white; 
			transition: background-color 0.5s ease, color 0.5s ease;
		} 

        /* The dark mode class */
        .dark-mode {
            background-color: #1a1a1a;
            color: #e0e0e0;
        }

        .dark-mode a {
            color: #90caf9;
        }
		
		.dark-mode .container {
			background-color: #1a1a1a;
            color: #90caf9;
        }		

		.index { 
			color: #AA205C;
			transition: color 0.3s ease;
		}

		.index:hover { 
				/* Key properties for the AI effect */
			background-image: linear-gradient(
				90deg,
				#1a73e8, /* Blue */
				#34a853, /* Green */
				#000, 	/* black */
				#B6C511,
				#1a73e8, /* Blue again for a smooth loop */
				#34a853
			);
			background-size: 400% 100%; /* Make the gradient wider than the text */
				-webkit-background-clip: text; /* Clips the background to the text shape */
			background-clip: text;
			color: transparent; /* Makes the text itself transparent to show the background */
			animation: animated-text-color 4s infinite linear; /* New text color animation */		
		}	

		.container { 
			text-align: center; 
			width: 80%; 
			max-width: 800px; 
			background-color: #fff; 
			padding: 20px; 
			border-radius: 10px; 
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
			margin: 120px auto; 
			padding: 12px 20px 12px 40px;
  			box-shadow:  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
						  0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
						  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
						  0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);	  
    		transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
		} 
		
		.container:hover {
			margin-top: 150px;
            /* Scaling button to 0.98 to its original size */
            box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.5);
            /* Lowering the shadow */
			animation: animated-border-glow 8s infinite linear;
        }

		header { 
			background-color: #AA205C; 
			color: white; 
			padding: 20px 0; 
			border-top-left-radius: 10px; 
			border-top-right-radius: 10px; 
			animation: animated-border-glow 8s infinite linear;
		} 

		h1 { 
			margin: 0; 
		} 

		.input-container { 
			display: flex; 
			justify-content: center; 
			align-items: center; 
			margin-top: 20px; 
		} 

		input { 
			padding: 10px; 
			margin: 0 10px; 
			width: 60%; 
			border: 1px solid #ccc; 
			border-radius: 5px; 
			background-color:#F4C1DD;
			transition: width 0.4s ease-in-out;
		} 
		input[type=text]:focus {
  			width: 62%;
		}

		button { 
			padding: 10px 20px; 
			background-color: #AA205C; 
			color: white; 
			font-family: 'Indie Flower', cursive;
			border: none; 
			cursor: pointer; 
			border-radius: 5px; 
			transition: background-color 0.3s; 
		} 

		button:hover { 
			background-color: #c0392b; 

		} 

		.main-content { 
			display: flex; 
			flex-direction: column; 
			align-items: center; 
			margin-top: 50px; 

			padding-top: 50px; 

		} 

		.graph { 
			width: 100%; 
			height: 400px; 
			margin: 20px 0; 
			/* Adjust margin if needed */ 
			border: 1px solid #AA205C; 
			border-radius: 1.2rem; 
			transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
		} 
				.graph:hover { 
					cursor:pointer;
					animation: animated-border-glow 8s infinite linear;
				} 
		
	.signup {
        border: 1px solid #AA205c;
        background: #AA205c;
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 5px;
        cursor: pointer;
        outline: none;
        color: white;
        text-decoration: none;
        font-family: google;
        font-size: 18px;
        transition: all 0.3s ease;
      }

      .signup:hover {
        border: 1px solid #AA205c;
        color: white;
        box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
          0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
          0 22.3px 17.9px rgba(0, 0, 0, 0.072),
          0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
        background:#AA205c;
      }

 .btn {
        padding-left: 50px;
        padding-right: 50px;
		font-family: 'Indie Flower', cursive;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 17px;
        background:#fff;
        outline: none;
        color: black;
        border: none;
        cursor: pointer;
        border-radius: 20px;
      }
.top-header {
        z-index: 1;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        text-align: center;
        width: 100%;
        position: fixed;
        left: 50%;
        transform: translate(-50%, 0);
        color: white;
        background-color: #FFFFFF;
        padding: 15px;
        font-family: google;
        font-size: 25px;
		margin-bottom: 50px; 
      }
	  
	       .btnEffect {
            cursor: pointer;
            outline: none;
            transition: 0.2s all;
        }
        /* Adding transformation when the button is active */
          
        .btnEffect:active {
            transform: scale(0.98);
            /* Scaling button to 0.98 to its original size */
            box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
            /* Lowering the shadow */
        }
		
	img {
        	border-radius: 10px;
        	margin: 5px;
        	width: 90%;
      	}

.s-logo {
	border-radius: 10px;
	margin-top: 10px;
	max-width:40px;
	max-height: 90%;
	float:left;
	transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
	.s-logo:hover {
			animation: animated-border-glow 8s infinite linear;
			transition: 0.2s all;
			transform: scale(1.1); 
		 }	

@media screen and (max-width: 640px) {

		.header {
				z-index: 1;
				box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
				text-align: center;
				width: 100%;
				position: fixed;
				left: 50%;
				transform: translate(-50%, 0);
				color: white;
				background-color: #FFFFFF;
				padding: 0;
				font-family: google;
				font-size: 25px;
			  }	
			  
	   .signup {
				border: 1px solid #AA205c;
				background: #AA205c;
				padding-left: 20px;
				padding-right: 20px;
				padding-top: 15px;
				padding-bottom: 5px;
				border-radius: 5px;
				cursor: pointer;
				outline: none;
				color: white;
				text-decoration: none;
				font-family: google;
				font-size: 5px;
				transition: all 0.3s ease;
			  }
		
		.signup:hover {
				border: 1px solid #AA205c;
				color: white;
				box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
				  0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
				  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
				  0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
				background:#AA205c;
			  }
		
		 .btn {
			 	font-family: 'Courier New', monospace;
				padding-left: 10px;
				padding-right: 10px;
				padding-top: 20px;
				padding-bottom: 5px;
				font-size: 12px;
				background:rgba(0, 0, 0, 0.1);
				outline: none;
				color: white;
				border: none;
				cursor: pointer;
				border-radius: 10px;
			  }
			  
			  .btnEffect {
					cursor: pointer;
					outline: none;
					transition: 0.2s all;
				}
				/* Adding transformation when the button is active */
				  
				.btnEffect:active {
					transform: scale(0.98);
					/* Scaling button to 0.98 to its original size */
					box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
					/* Lowering the shadow */
				} 
		
}

@media print {
  #printPageButton {
    display: none;
  }
}

/* Keyframes for the new animated border glow */
@keyframes animated-border-glow {
    0% {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1),
                    0 0 10px rgba(100, 100, 255, 0.7); /* Blue */
    }
    25% {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1),
                    0 0 10px rgba(100, 255, 100, 0.7); /* Green */
    }
    50% {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1),
                    0 0 10px rgba(255, 100, 100, 0.7); /* Red */
    }
    75% {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1),
                    0 0 10px rgba(255, 255, 100, 0.7); /* Yellow */
    }
    100% {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1),
                    0 0 10px rgba(100, 100, 255, 0.7); /* Blue (back to start) */
    }
}

/* Define the keyframes for the text color */
@keyframes animated-text-color {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}