@charset "utf-8";
/* CSS Document */

body {
     margin: 4rem auto;
     padding: 0 2rem;
     background-color: #f9f9fb;
     }
main {
     width: 100%;
     }
/* Styles for link */
        a {
            text-decoration: none;
        }

        /* Styles for page header */
        h1 {
            font-size: 36px;
            text-align: center;
            margin-bottom: 20px;
            color: #AA205C;
        }
  
	 
body {
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
        margin: 0px;
        /* background: url("bac.jpg");*/
        background-size: cover;
        background-repeat: no-repeat; 
        scroll-behavior: smooth;
        background-attachment: fixed;
        font-family: google,sans-serif;
        background: linear-gradient(#FFFFFF,#FFFFFF);
		font-size: 1.1em;
		background-color: #FFFFFF ;
}
	 
.header {
        z-index: 1;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        text-align: center;

        width: 100%;

        position: fixed;

        left: 50%;

        transform: translate(-50%, 0);

        color: white;

        background-color: #FFFFFF;

        padding: 10px;

        font-family: google;
        font-size: 25px;
      }
	 
.signup {
        border: 1px solid #AA205c;
        background: #AA205c;
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 5px;
        cursor: pointer;
        outline: none;
        color: white;
        text-decoration: none;
        font-family: google;
        font-size: 18px;
        transition: all 0.3s ease;
      }

     .signup:hover {
        border: 1px solid #AA205c;
        color: white;
        box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
          0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
          0 22.3px 17.9px rgba(0, 0, 0, 0.072),
          0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
        background:#AA205c;
      }

 .btn {
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 17px;
        background:#fff;
        outline: none;
        color: black;
        border: none;
        cursor: pointer;
        border-radius: 20px;
      }
	  
.btnEffect {
            cursor: pointer;
            outline: none;
            transition: 0.2s all;
        }
        /* Adding transformation when the button is active */
          
        .btnEffect:active {
            transform: scale(0.98);
            /* Scaling button to 0.98 to its original size */
            box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
            /* Lowering the shadow */
        }
		
	img {
        	border-radius: 10px;
        	margin: 5px;
        	width: 90%;
      	}
		
.s-logo {
	border-radius: 10px;
	margin-top: 10px;
	max-width:40px;
	max-height: 90%;
	float:left;
}

@media screen and (max-width: 640px) {

		.header {
				z-index: 1;
				box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
				text-align: center;
				width: 100%;
				position: fixed;
				left: 50%;
				transform: translate(-50%, 0);
				color: white;
				background-color: #FFFFFF;
				padding: 0;
				font-family: google;
				font-size: 25px;
			  }	
			  
	   .signup {
				border: 1px solid #AA205c;
				background: #AA205c;
				padding-left: 10px;
				padding-right: 10px;
				padding-top: 10px;
				padding-bottom: 5px;
				border-radius: 5px;
				cursor: pointer;
				outline: none;
				color: white;
				text-decoration: none;
				font-family: google;
				font-size: 5px;
				transition: all 0.3s ease;
			  }
		
		.signup:hover {
				border: 1px solid #AA205c;
				color: white;
				box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
				  0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
				  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
				  0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
				background:#AA205c;
			  }
		
		 .btn {
				padding-left: 10px;
				padding-right: 10px;
				padding-top: 20px;
				padding-bottom: 5px;
				font-size: 12px;
				background:rgba(0, 0, 0, 0.1);
				outline: none;
				color: black;
				border: none;
				cursor: pointer;
				border-radius: 10px;
			  }
			  
			  .btnEffect {
					cursor: pointer;
					outline: none;
					transition: 0.2s all;
				}
				/* Adding transformation when the button is active */
				  
				.btnEffect:active {
					transform: scale(0.98);
					/* Scaling button to 0.98 to its original size */
					box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
					/* Lowering the shadow */
				} 
		
}

@media print {
  #printPageButton {
    display: none;
  }
}